/* * responsive media queries */ 
/* mobile devices */
@media screen and (max-width:576px){
    *{margin-left: 0;
    margin-right: 0;}
    header{
        padding: 20px;
    }
    .nav-container{
        flex-direction:column;
    }
    
    
    .nav-items-container{
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top: 10px;
    }
    .banner-container{
        /* flex-direction: column; */
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .card-img{
        flex-direction: column;
    
    }
    .playing-container{
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 100%;
        max-width: 600px;
    }
      /* .game-list-1{ */
        /* flex-direction: column; */
        /* flex-wrap: wrap;
    }  */
     /* .game-list-2{ */
        /* flex-direction: column; */
        /* flex-wrap: wrap;
    }  */
    .game-list-container{
        flex-wrap: wrap;
        width: 80%;
    } 
    .end-container{
        width: 100%;
        max-width: 600px;
    }
    
    }
    
    
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px){
    .nav-items-container{
        flex-direction: column;
    }
    .card-img{
        flex-direction: column;

}
.playing-container{
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    
}
.game-list-1{
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.game-list-2{
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.end-container{
    width: 100%;
    max-width: 600px;
}
}